<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <h1>Repeat Counter!</h1>
      <div class="well">
          <p>Enter a phrase and a word that you would like to search for within that phrase. This app will return the number of times that word is found in the phrase. This app is designed to not be case sensitive and to ignore special characters such as quotes, periods, etc.</p>
      </div>
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
